.main{
    background-color: black;
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    box-shadow: 0px 0px 5px 5px white;
    height: 100vh;
    background-image: url("../components/imgs/bg3.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position:  right ;
    
  
  
   
   
   
}